/* login */
* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #f8f8f8;
}

a {
  color: inherit;
  text-decoration: none;
}

#bg-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box-login {
  width: 300px;
  min-height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
}

.box-login h2 {
  text-align: center;
  margin-bottom: 15px;
}

.input-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.btn {
  padding: 8px 15px;
  background-color: #ef350d;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* login end */

/* dashboard */
/* Header */
header {
  background-color: #4de74f;
  color: #fff;
}

header h1 {
  float: left;
  padding: 10px 0;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
}

header ul li a {
  padding: 20px 0 20px 15px;
  display: inline-block;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

/* Contain */
/* profil */
.section {
  padding: 25px 0;
}

.box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px 0 25px 0;
}

/* data kategori */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr {
  height: 30px;
}

.table tr td {
  padding: 5px 10px;
}
/* footer */
/* dashboard */
/* CARDS */
.main-container {
  padding: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
