* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}
body {
  font-family: Arial, Tahoma, Serif;
  color: #ffffff;
}
.body {
  background-color: #111622;
}
nav {
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
  background: #2d374a; /* 4 */
  color: #ffffff;
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex; /* 5 */
  list-style: none; /* 6 */
  color: #ffffff;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

nav li {
  float: left;
  padding-right: 3rem;
}

#home {
  height: 100vh;
}

.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.ml2 .word {
  display: inline-block;
  line-height: 1em;
}
.title {
  margin-left: 80px;
  padding-left: 10px;
  margin-top: 190px;
  padding-top: 10px;
}

.subtitle {
  font-size: 0.5em;
  font-weight: bold;
  color: #fff;
}
.button1 {
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  margin-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  width: 237.28px;
  height: 60.13px;
  left: 82.53px;
  top: 447.7px;
  transition: all 0.2s;
}
.button1:hover {
  transform: scale(1.06);
}
.button2 {
  background-color: #7f7f7f;
  border: none;
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  width: 273.66px;
  height: 60.13px;
  left: 350.06px;
  top: 447.7px;
  transition: all 0.2s;
}
.button2:hover {
  transform: scale(1.06);
}
.thumbnail {
  float: right;
  width: 600px;
  margin-right: 160px;
  margin-top: -220px;
  padding-top: -20px;
  border-radius: 30px;
  box-shadow: 24px 17px 17px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.thumbnail:hover {
  transform: scale(1.06);
}
#aboutme {
  height: 65vh;
}
.aboutme-title {
  text-align: center;
  margin-top: 65px;
}
.list-aboutme {
  list-style: none;
  text-align: left;
  margin-top: 50px;
  font-size: 1.7em;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.main-container {
  padding: 30px;
}
.project {
  height: 100vh;
}
.testi {
  text-align: center;
  height: 65vh;
}
.map {
  text-align: center;
  height: 100vh;
}
/* kontak */
.kontak {
  height: 100vh;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: rgb(30, 30, 40);
}
form {
  max-width: 80%;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}
/* Maps */
.maps {
  box-shadow: 24px 17px 17px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.maps:hover {
  transform: scale(1.06);
}
/* Testi */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: "\f10e";
  font-family: "FontAwesome";
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
